.black{
    background-color: black;
    color: white;
}

.yellow{
    background-color: yellow;
    color: black;
}

.black,
.yellow{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.avatar.distorted{
    width: 200px;
    height: 400px;
}

.avatar.proportioned{
    width: 300px;
    height: auto;
}

div p{
    background-color: yellow;
    font-size: 28px;
    color: red;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .para,
  .small-para {
    color: hsl(0, 0%, 0%);
    font-weight: 800;
  }
  
  p.small-para {
    font-size: 14px;
    font-weight: 800;
  }
  
  .para {
    font-size: 22px;
  }
  
  .button.confirm {
    background: green;
    color: white;
    font-weight: bold;
  } 
  
  .button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .text.child {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
  }
  
  div.text {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 100;
  }